<div class='movie_detail' %>
<%= @movie.title %><br/>
<%= @movie.format_created_at %><br/>
<%= @movie.description %>
</div>
<div class='comment_list'>
  <% @movie.movie_comments.each do |c| %>
    <div class='comment'>
      <%= c.comment %>
    </div>
  <% end %>
</div>
<%= link_to 'コメント一覧', koremita_movie_comments_path(@movie.id) %>
