<div class='movie_detail' %>
<%= cl_image_tag(movie.photo, width: 80, height: 80, crop: :fill) %>
<%= @movie.title %><br/>
<%= @movie.format_created_at %><br/>
<%= @movie.description %>
</div>
<%= render 'comments/form' %>
<%= render 'comments/movie_comment_list' %>

