<div class='movie_detail'>
<%= cl_image_tag(@movie.photo, width: 80, height: 80, crop: :fill) %>
<%= @movie.title %><br/>
<%= @movie.format_created_at %><br/>
<%= @movie.description %>
</div>
<hr/>
<%= link_to 'コメント', new_koremita_movie_comment_path(@movie) %>
<%= render 'koremita/comments/movie_comment_list' %>
